.heading {
    display: flex;
    width: 860.8px;
    text-align: left;
    border: solid white;
    margin-top: 100px;
    padding: 100px;
    border-radius: 10px;
    border-width: 10px;
    background-color: white;
    flex-direction: column;
}
.h1 {
    text-align: left;
}
.bold {
    color: #5399a5;
    font-weight: bold;
    display: inline;
}
.logo {
    margin-top: 40px;
    width: 40px;
}
.links {
    display: flex;
    justify-content: space-between;
}