.welcome {
  display: flex;
  font-size: 60px;
  margin: 0;
}
.header {
  display: flex;
  background-color: rgb(252,252,252);
  margin: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.header img {
  width: 20vw;
  min-width: 300px;
  margin-left: 40px;
}
.welcome-message {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.bold-message {
  font-weight: bold;
  position: relative;
  top: 73px;
  left: 15px;
  margin: 0;
  color: #5399a5;
}
.welcome-description {
  font-size: 30px;
}
.bold-description {
  font-weight: bold;
  display: inline;
  color: #5399a5;
}
body {
  background-color: #6dbdcc;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}