.navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.navbar-link {
    
}
.dropdown-menu {
    display: none;
    position: absolute;
}
.navbar-button {
    margin: 50px;
    border: none;
    background-color: rgb(252, 252, 252);
    font-weight: 500;
    font-size: 17px;
}