.graphic-design-title {
    font-size: 50px;
    margin-bottom: 15px;
}
.graphic-design-container {
    background-color: rgb(252, 252, 252);
    margin: 60px;
}
.horizontal-line {
    width: 10vw;
    margin-top: 0;
    height: 1px;
    border: solid;
    background-color: #5399a5;
    border-color: #5399a5;
    display: inline-block;
}
.video {
    border-radius: 15px;
}
.work-text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}
.work-content {
    width: 50%;
    display: flex;
    justify-content: flex-end;  
}
.graphic-design-work {
    display: flex;
    flex-direction: column;
}
.line-container {
    text-align: left;
    width: 50%;
}
.work-container {
    display: flex;
    width: 100%;
    margin-bottom: 100px;
}
.work-left {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding-right: 100px;
}
.work-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}
.work-right-no-center {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}