.graphic-design-title {
    font-size: 50px;
    margin-bottom: 5px;
}
.graphic-design-container {
    background-color: rgb(252, 252, 252);
    margin: 100px;
}
.horizontal-line {
    width: 10vw;
    margin-top: 5px;
    height: 1px;
    border: solid;
    background-color: #5399a5;
    border-color: #5399a5;
    display: inline-block;
    margin-bottom: 30px;
}
.video {
    border-radius: 15px;
}
.work-text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}
.work-content {
    width: 50%;
    display: flex;
    justify-content: flex-end;  
}
.graphic-design-work {
    display: flex;
    flex-direction: column;
}
.line-container {
    text-align: left;
    width: 50%;
}
.work-container {
    display: flex;
    width: 100%;
    margin-bottom: 100px;
}
.work-left {
    width: 50%;
    max-width:800px;
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding-right: 100px;
}
.work-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}
.work-right-no-center {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.work-button {
    border: none;
    background-color:#5399a5;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    width: 110px;
}
.design-description {
    margin-bottom: 50px;
    color: rgb(87, 87, 87);
}
.work-title {
    color: #5399a5
}
p {
    margin-top: 0;
    margin-bottom: 15px;
}
.equipment{
    font-style: italic;
}
.welcome-graphic-design{
    display:flex;
    justify-content: space-between;
    font-size:0;
}
@media screen and (max-width: 1000px) {
    .graphic-design-container {
        display: flex;
        flex-direction: column;
    }
    .work-container {
        flex-direction: column;
    }
    .work-left {
        width: 100%;
    }
    .work-right {
        width: 100%;
    }
    .design-description {
        width: 100%;
    }
}