.heading {
    display: flex;
    text-align: left;
    border: solid white;
    margin: 100px;
    padding: 50px;
    border-radius: 10px;
    border-width: 10px;
    background-color: white;
    flex-direction: column;
}
.h1 {
    text-align: left;
}
.bold {
    color: #5399a5;
    font-weight: bold;
    display: inline;
}
.logo {
    width: 40px;
    padding-right: 50px;
}
.links {
    display: flex;
    margin-top: 10px;
}
.button {
    border: none;
    background-color:#5399a5;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
.button-a {
    border: none;
    background-color:#5399a5;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .links img {
        padding-left: 0;
        padding-bottom: 30px;
    }
    .links button {
        margin: 0;
        margin-bottom: 30px;
    }
    /* Center body content on tablet and smaller */
    .heading {
        margin: 20px;
        padding: 20px;
        align-items: center; /* center children vertically in column layout */
        text-align: center; /* center text */
    }

    .h1 {
        text-align: center;
    }

    .links {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        padding-right: 0;
        margin-bottom: 12px;
    }
}