.navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.dropdown-menu {
    display: none;
    position: absolute;
    margin-left: 10px;
    color: white;
    top: 100px;
    z-index: 2;
}
.navbar-button {
    margin: 50px;
    border: none;
    background-color: rgb(252, 252, 252);
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    font-family: 'Acme', sans-serif;
    color: black;
}
.list {
    list-style-type: none;
    padding-left: 0; 
    padding-right: 100px;
    margin-left: 50px;
    background-color: teal;
    padding-bottom: 50px;
    border-radius: 10px;
}
.list li {
    padding-bottom: 10px;
    padding-left: 40px;
    padding-top: 50px;
}
a {
    text-decoration: none;
    color: white;
}