/* Basic navbar layout */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  padding:  10px 30px 30px;
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

/* Logo */
.nav-logo {
  margin-bottom: 18px;
  font-size: 1.4rem;
  font-weight: bold;
  display:flex;
  justify-content:center;
}

.navbar img {
    width: 50%;
}

/* Links (desktop view) */
.nav-links {
  display: flex;
  gap: 20px;
  flex-direction: row;
}

.nav-links a {
  color: #6dbdcc;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
}

.nav-links a:hover {
  text-decoration: underline;
}

.nav-logo .logo {
    padding: 0;
}
/* Hamburger (hidden on desktop) */
.hamburger {
  align-self: flex-end;
  margin-bottom: 10px;
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #6dbdcc;
  transition: all 0.3s ease;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .nav-logo {
    margin-bottom: 0;
  }

  .hamburger {
    align-self: auto;
    margin-bottom: 0;
    display: flex;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    left: 20px;
    flex-direction: column;
    background: #6dbdcc;
    width: 150px;
    padding: 10px;
    border-radius: 8px;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links a {
    color: white;
  }
}
