.project-container {
    display: flex;
    text-align: left;
    border: solid white;
    margin: 100px;
    padding: 30px;
    border-radius: 10px;
    border-width: 10px;
    background-color: white;
    flex-direction: column;
    width: 70vw;
}
.h1 {
    text-align: left;
}
.bold {
    color: #5399a5;
    font-weight: bold;
    display: inline;
}
.projects-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.projects-container img {
    border-radius: 10px;
    width: 50%;
    height: 50%;
}
.project-description {
    width: 50%;
}
.project {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
    text-align: center;
}
.space {
    padding: 25px;
}
.vertical-line-projects {
    border: none;
    border-left: 2px dashed grey; /* Change the color and thickness */
    height: 150px; /* Adjust the height as needed */
    width: 0;
}
.reverse {
    transform: scaleX(-1);
}

@media screen and (max-width: 1000px) {
    .project-container {
        width: 70vw;
        padding: 10px;
    }
    .heading {
        width: 80%;
        padding: 10px;
    }
    .project {
        flex-direction: column;
    }
    .project-container img {
        width: 80%;
        height: auto;
    }
    .vertical-line-projects {
        border: none;
        border-top: 2px dashed grey; /* Change the color and thickness */
        width: 100%; /* Set the width to span the container */
        height: 0;
    }
    .project-description {
        width: 100%;
    }
}