.project-container {
    display: flex;
    width: 1000px;
    text-align: left;
    border: solid white;
    margin-top: 100px;
    padding: 100px;
    border-radius: 10px;
    border-width: 10px;
    background-color: white;
    flex-direction: column;
}
.h1 {
    text-align: left;
}
.bold {
    color: #5399a5;
    font-weight: bold;
    display: inline;
}
.projects-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.projects-container img {
    border-radius: 10px;
    width: 50%;
}
.project-description {
    width: 50%;
}
.project {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}
.space {
    padding: 25px;
}
.vertical-line-projects {
    border: none;
    border-left: 2px dashed grey; /* Change the color and thickness */
    height: 150px; /* Adjust the height as needed */
    width: 0;
}
.reverse {
    transform: scaleX(-1);
}

@media screen and (max-width: 1000px) {
    .project-container {
        width: 80%;
    }
    .heading {
        width: 80%;
    }
    .project {
        flex-direction: column;
    }
    .project-container img {
        width: 80%;
    }
    .vertical-line-projects {
        display: none;
    }
}